*.d
*.o
*.a
dists/*.tar.gz
dists/*.rb
dists/*.zip
dists/*.exe
dists/*.deb
gmon.out
config.log
config.status
autom4te.cache/*
src/cfg.mk
src/version.h
src/gamedata/gamedata.bin
src/gamedata/mkgames
src/test/chklogic
src/brainjam
src/brainjam.exe
src/windows/app.ico
test/runtests
test/runtests.c
