*.d
*.o
*.a
*.tar.gz
*.zip
gmon.out
config.log
config.status
autom4te.cache/*
brainjam.rb
src/cfg.mk
src/version.h
src/gamedata/gamedata.bin
src/gamedata/mkgames
src/test/chklogic
src/windows/*.ico
src/brainjam
