*.d
*.o
*.a
*.tar.gz
*.zip
config.log
config.status
autom4te.cache/*
src/cfg.mk
src/version.h
src/configs/configs.bin
src/sdl/*.bmp.gz
src/sdl/images.png
src/sdl/imageids.h
src/sdl/layout.h
src/windows/*.ico
src/brainjam
src/brainjam.exe
